---
layout: layouts/docs.njk
permalink: /documentation/change-log/
---


<h2 class="mb-5">Change Logs & History</h2>


<p class="font-weight-bold mb-0">June 18, 2020</p>
<p>Deployed to GitHub!</p>


<p class="font-weight-bold mb-0">June 17, 2020</p>
<p>Created a build script in PowerShell to create a Celestial template for GitHub.</p>


<p class="font-weight-bold mb-0">June 12, 2020</p>
<p>Version 1 of the framework documentation has been written and pushed live on Celestial.Dev</p>


<p class="font-weight-bold mb-0">May 25, 2020</p>
<p>Celestial 1.0 was completed!</p>


<p class="font-weight-bold mb-0">April 15, 2019</p>
<p>Started work on Celestial!</p>
