---
layout: layouts/docs.njk
permalink: /documentation/
---


<div class="text-center">
<h2 class="py-5">Welcome to Celestial Framework</h2>

<div class="small-width-container mb-5">
    <p>This framework is built for front-end developers, new developers, experienced developers, and everyone who likes to code.</p>

    <p>It comes prebuilt with pages, templates like the header and footer, functions, forms, buttons, anything you could think of. It can help you jumpstart your projects and get to the fun part: the coding. No more figuring out what meta tags your site needs, or where the <code>include();</code> needs to go without breaking the page. Celestial handles all this for you.</p>
</div><!-- end small width container -->

    {#<p><a href="{{ metadata.downloadLink }}" class="btn btn-primary">Download Celestial</a></p>#}


</div><!-- end text center -->
