---
layout: layouts/docs.njk
permalink: /documentation/setup-requirements/
---


<h2>Setup Requirements</h2>
<p>Celestial is built with Apache, PHP 7.3+, and MySQL</p>
<p>Shared or dedicated hosting with a cPanel is usually the easiest way to go to get your site up and running. Celestial has not been tested on localhost.</p>
<p>Trying to keep this as easy as possible to install!</p>
