---
layout: layouts/base.njk
permalink: /yuri-cat/
---


<div class="text-center py-5">
	<div><img src="/images/yuri-boi-1.jpg" alt="First photo of Yuri Catsuki being cute" class="img-fluid rounded mb-5"></div>

	<div><img src="/images/yuri-boi-2.jpg" alt="Second photo of Yuri Catsuki being cute" class="img-fluid rounded mb-5"></div>

	<div><img src="/images/yuri-boi-3.jpg" alt="Third photo of Yuri Catsuki being cute" class="img-fluid rounded mb-5"></div>
</div>
