<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ title or metadata.title }}</title>
	<meta name="description" content="{{ description or metadata.description }}">


	<meta property="og:url"                content="{{ metadata.url }}{{ page.url }}" />
	<meta property="og:title"              content="{{ title or metadata.title }}" />
	<meta property="og:description"        content="{{ description or metadata.description }}" />
	<meta property="og:image"              content="{{ metadata.url }}/images/site-opengraph.jpg" />
	<meta property="og:image:width"        content="971" />
	<meta property="og:image:height"       content="509" />

	{% if layout == "layouts/post.njk" %}
		<meta property="og:type" content="article" />
	{% else %}
		<meta property="og:type" content="website" />
	{% endif %}


	<link rel="manifest" href="/manifest.json">
	<link rel="icon" sizes="192x192" type="image/png" href="/images/icons/icon-192x192.png">
	<meta name="theme-color" content="#db1f26">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="apple-touch-icon" href="/images/icons/icon-72x72.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/images/icons/icon-152x152.png">
	<link rel="apple-touch-icon" sizes="192x192" href="/images/icons/icon-192x192.png">

	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<style>
		{% set css %}
		{% include "_includes/css/library-prism.css" %}
		{% include "_includes/css/styles.css" %}
		{% endset %}
		{{ css | minifyCSS | safe }}
	</style>

</head>
<body>



<nav id="{% if navSmall %}jump-top{% endif %}"
		 class="{% if navSmall %}small-nav{% endif %}">
	<div class="container-fluid">
		<div class="d-flex flex-wrap align-items-center justify-content-between">
			<div class="col-lg col-12 pb-0 text-lg-left text-center">
				<a href="/" class="logo"><h1>Celestial Framework</h1></a>
			</div><!-- end col -->

			<div class="col-lg col-12 pb-0 text-lg-right text-center">
				<a href="/" class="btn">Home</a>
				<a href="/documentation/" class="btn">Documentation</a>
				{#<a href="https://github.com/brewhousedigital/celestial" class="btn" target="_blank">GitHub</a>#}
				<a href="/#contact" class="btn">Contact</a>
			</div><!-- end col -->
		</div><!-- end row -->
	</div><!-- end container -->
</nav>




<main>
	{{ content | safe }}
</main>


<footer class="text-center py-5">
	<div class="container">
		{#<p>Made by <a href="https://www.brewhouse.digital?source=celestialdev" target="_blank" rel="noopener">Brewhouse Digital, LLC</a></p>#}
		<p><a href="/yuri-cat/" class="text-white">Made by Yuri the cat 🐱</a></p>
	</div><!-- end container -->
</footer>



<script>
	window.Prism = window.Prism || {};
	window.Prism.manual = true;
</script>

<script src="/_includes/js/library-prism.js"></script>

<script>
	{% set js %}
	{% include "_includes/js/scripts.js" %}
	{% endset %}

	{{ js | safe }}
</script>

</body>
</html>
